header{
    display: inline-block;
    width: 860px;
    margin-left: calc((100% - 860px) / 2);
    margin-right: calc((100% - 860px) / 2);
    background-color: yellow;
}
main{
    display: inline-block;
    background-color: orange;
    width: 860px;
    margin-left: calc((100% - 860px) / 2);
    margin-right: calc((100% - 860px) / 2);
}